<%= form_for [:admin, @cacao_ment] do |f| %>
  
  <div class="control-group">
    <label class="control-label">Ment</label>
    <div class="controls">
      <label><%= f.text_area :ment, :style => 'width:350px'%></label>
    </div>
  </div>
  
  <p><%= f.submit %></p>
<% end %>
