<%= form_for [:admin, @notice] do |f| %>
  <%#= f.error_messages %>
  <div class="control-group">
    <label class="control-label">Title</label>
    <div class="controls">
      <label><%= f.text_field :title%></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Content</label>
    <div class="controls">
      <label><%= f.text_area :content , :class => "input-xxlarge", :rows => 20 %></label>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
