/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 //= require bootstrap

.submit {
	margin-top:20px;
}
.pointer {
  cursor:pointer;
}

.change_pw_box {
	background-image:url('/uploads/images/password_bg.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	width:475px;
	height:323px;
	margin: 100px auto;
	padding: 20px;
	text-align:center;
}

.change_pw_box table td .text {
	margin:1px auto;
	
}

.change_pw_box table {
	width:400px;
	text-align:left;
	margin:102px auto 0;
}
.change_pw_box table td {
	padding:15px 0;
}

.change_pw_box table td.right {
	width:120px;
}

